<!DOCTYPE html>
<html>
<head>
    <title>Gmail Analyzer for ZK Email - Selectors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>
        function copyToClipboard(text) {
            var dummy = document.createElement("textarea");
            document.body.appendChild(dummy);
            dummy.value = text;
            dummy.select();
            document.execCommand("copy");
            document.body.removeChild(dummy);
        }
    </script>
    <script>
        function toggleView() {
            var selectorsView = document.getElementById('selectorsView');
            var domainsView = document.getElementById('domainsView');
            if (selectorsView.style.display === "none") {
                selectorsView.style.display = "block";
                domainsView.style.display = "none";
            } else {
                selectorsView.style.display = "none";
                domainsView.style.display = "block";
            }
        }

        function download(filename, text) {
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', filename);
            element.style.display = 'none';
            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);
        }
    </script>
</head>
<body>
    <div class="container mt-4">
        <h1>Selectors</h1>
        <button id="toggleButton" onclick="toggleView()">Toggle Grouping (By Selectors or by Domains)</button>
        <button onclick="copyToClipboard(JSON.stringify({ results }))">Copy All</button>
        <div id="selectorsView">
            {% for result in selectors %}
            <div class="card">
                <div class="card-header">Selector: {{ result }}</div>
                <div class="card-body">
                    <p>Domains: {{ selectors[result] }}</p>
                    <button onclick="copyToClipboard('{{ result }}: {{ selectors[result] }}')">Copy</button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="domainsView" style="display: none;">
            {% for result in domains %}
            <div class="card">
                <div class="card-header">Domain: {{ result }}</div>
                <div class="card-body">
                    <p>Selectors: {{ domains[result] }}</p>
                    <button onclick="copyToClipboard('{{ result }}: {{ domains[result] }}')">Copy</button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="domainsTsvView">
            <h2>Domains TSV</h2>
            <button onclick="download('domains_selectors.tsv', document.getElementById('tsvDataTextArea').value)">Download TSV file</button>
            <textarea id="tsvDataTextArea" readonly rows="20" cols="100" style="font-family: monospace;">{{ tsv_by_domain }}</textarea>
        </div>
    </div>
</body>
</html>
